.side-drawer {
    height: 40%;
    background: #f8f8f8;
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transition: transform 500ms ease-out;
    transform: translateY(-200%);
}

.side-drawer.open {
    margin-top: 56px;
    transform: translateY(0);
}

.side-drawer ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #143774;
}

.side-drawer a:hover, .side-drawer a:active {
    color: #fa923f;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}